<h2>Lista de Clientes</h2>

<input
  type="text"
  placeholder="Buscar por nombre..."
  [(ngModel)]="filterName"
  style="margin-bottom: 10px; padding: 4px; width: 250px;"
/>

@if (alertMessage) {
  <app-alert [message]="alertMessage" [type]="alertType" />
}

<table cellspacing="0" cellpadding="8">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    @for (customer of filteredCustomers(); track trackById){
      <tr>
        <td>{{ customer.id }}</td>
        <td>{{ customer.firstName }}</td>
        <td>{{ customer.lastName }}</td>
        <td>{{ customer.email }}</td>
        <td>
          <button [routerLink]="['/editar', customer.id]">Editar</button>
          <button (click)="onRequestDelete(customer.id!)">Eliminar</button>
        </td>
      </tr>
    }
  </tbody>
</table>
<app-confirm-modal
  [visible]="showModal"
  [message]="deleteMsg"
  [confirmText]="confirmText"
  [cancelText]="cancelText"
  (confirm)="confirmDelete()"
  (cancel)="cancelDelete()"
/>
