.alert {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  font-weight: bold;
}

.success {
  width: 40%;
  background-color: #d4edda;
  color: #155724;
}

.error {
  width: 40%;
  background-color: #f8d7da;
  color: #721c24;
}
